<!DOCTYPE html> 
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>自己紹介</title>
<!-- reset.css ress -->
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<!-- CSSファイルを読み込む -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/about-me.css">
</head>
<body>
    <!-- ヘッダー -->
    <header class="page-header">
                    <nav class="header-layout">
                        <h1 class="align-center">
                            <a href="index.html"><img class="logo" src="images/logo-yoko-kuromaki.png" alt="Repair&Remake logo"></a>
                        </h1>   
                    </nav>
    </header>
    <main>
    <!-- 自己紹介 -->
    <div class="cover cover-about-me">
        <div class="hero-content">
            <h2 class="page-title">自己紹介</h2>
                <p>私は、Repair&Remakeの IT担当、賀藤 快人 です。</p>
            <p>Repair&RemakeのWebサイトを作らせていただきました。</p>
            <p>お客様の大切な服を、新しいものに生まれ変わらせるお手伝いをしています。</p>
        </div>
    </div>
    </main>
    <!-- フッター -->
    <footer>
        <div class="footer">
            <div>
                <a href="index.html"><img class="logo" src="images/logo-yoko-kuromaki.png" alt="Re&Re Repair&Remake logo"></a>
                <a href="https://www.instagram.com/re_and_re_?igsh=cGN2YWtpNnZrNWMx&utm_source=qr"><img class="instagram" src="images/Insta-icon.png" alt="Instagram icon"></a>
            </div>
            <div class="footer-text">
                <p>Re&Re Repair&Remake</p>
                <p>TEL:090-3625-5955</p>
                <p>営業時間:09:00～18:00</p>
            </div>
        </div>
    </footer>
</body>

</html>