{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Re&Re Repair&Remake{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body class="bg-gray-50 text-gray-900 antialiased flex flex-col min-h-screen">

    {% include 'components/header.html' %}

    <main class="flex-grow">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>